body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightpink;
}

header {
    text-align: center;
    background-color: #333;
    color: indianred;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin: 0;
    font-size: 1.5em;
    color: indianred;
}

.headshot {
    width: 150px;
    height: 150px;
}

h3 {
    margin-top: 20px;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: hotpink;
    color: white;
}
